/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  background: #00000000;
  position: relative;
  color: #fff; /* text ko white kardo taake dark bg pe visible ho */
}

/* Left Content */
.hero-content {
  flex: 1;
  max-width: 600px;
  z-index: 2; /* content overlay ke upar rahe */
  position: relative;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero h1 span {
  color: #1abc9c; /* Green highlight */
}

.hero p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #f0f0f0;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.btn-primary {
  width: 250px;
  background: #00695c;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #004d40;
}

.btn-outline {
  width: 250px;
  background: transparent;
  border: 2px solid #00695c;
  color: #fff;
  padding: 14px 28px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #00695c;
  border: 2px solid #b1f7ed;
  color: #fff;
}

/* Background Image */
.hero::after {
  content: "";
  background: url("./pic1.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* image sabse neeche */
  opacity: 1;
}

/* Dark Overlay */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* full width */
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* black overlay (dark effect) */
  z-index: 1; /* image ke upar but content ke neeche */
}

/* Reviews Section */
.reviews {
  display: flex;
  align-items: center;
  gap: 15px;
}

.review-avatars img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -10px;
}

.google-logo {
  width: 70px;
}

.review-text p {
  margin: 0;
  font-size: 0.9rem;
  color: #fff;
}

.review-stars {
  display: flex;
  flex-direction: column; /* uper niche karne ke liye */
  align-items: flex-start; /* left side per align */
  font-weight: bold;
  gap: 4px; /* thora space uper niche */
}

.rating-text {
  font-size: 1rem;
  color: #ffffff; /* text ka alag color */
}

.stars {
  font-size: 1.2rem;
  color: #fbc02d; /* star ka golden color */
}


/* Responsive */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    padding: 60px 20px;
    text-align: center;
  }

  .hero::after,
  .hero::before {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }
}
